body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1em 0;
    text-align: center;
}

main {
    padding: 2em;
}


h2 {
    color: #4CAF50;
}

video {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 0 auto;
}

.gallery, .video {
    margin-bottom: 2em;
}
.images {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.images img {
    max-width: 30%;
    margin: 0.5em;
    border: 2px solid #ddd;
    border-radius: 4px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}